<div class="container-info">
    <div>
        <h1>WORLD WIDE</h1>
        <div *ngIf="dataFinal ">
            <app-header [data]="dataFinal"></app-header>
        </div>
    </div>
    <div class="box-date">
        <h1>Date</h1>
        <div class="box-time">
            <p>Date & time</p>
            <select [(ngModel)]="chooseValue" (change)="selectOption()">
                <option *ngFor="let data of datasInApp">{{data.date.toString() | dateFormat}}</option>
            </select>
        </div>
    </div>
    <app-header [data]="selectedData || dataFinal"></app-header>
    <div class="container-map" >
        <app-leaflet style="width: 800px;"></app-leaflet>
        <app-chart style="width: 1000px;" ></app-chart>
    </div>
</div>